*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-family: #565656;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(3, 100vh) max-content 40vh 90vh max-content 50vh; }
  @media only screen and (max-width: 68.75rem) {
    .container {
      grid-template-rows: repeat(3, 100vh) 135vh 40vh 90vh max-content 50vh; } }
  @media only screen and (max-width: 62.5rem) {
    .container {
      grid-template-rows: repeat(3, 100vh) 140vh 40vh 90vh max-content 50vh; } }
  @media only screen and (max-width: 50rem) {
    .container {
      grid-template-rows: repeat(3, 100vh) max-content 40vh 90vh max-content 50vh; } }
  @media only screen and (max-width: 37.5rem) {
    .container {
      grid-template-rows: 100vh repeat(3, max-content) 40vh repeat(2, max-content) 50vh; } }

.heading-2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0 4rem; }
  .heading-2:not(:last-child) {
    margin-bottom: 0.8rem; }
  .heading-2--light {
    color: #fff; }
  @media only screen and (max-width: 25rem) {
    .heading-2 {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 33.75rem) {
    .heading-2 {
      font-size: 2.7rem; } }

.heading-3 {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.2rem 4rem; }
  .heading-3--light {
    color: #fff; }

.heading-4 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px; }
  @media only screen and (max-width: 25rem) {
    .heading-4 {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 21.87rem) {
    .heading-4 {
      font-size: 1.6rem; } }

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero3.jpg");
  background-size: cover; }
  @media only screen and (max-width: 25rem) {
    .header {
      width: 100vw; } }

.header__nav {
  width: 100%;
  background-color: #262738; }
  @media only screen and (max-width: 25rem) {
    .header__nav {
      width: 100vw; } }

.nav_list {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  list-style: none; }
  @media only screen and (max-width: 25rem) {
    .nav_list {
      padding: 0; } }

.nav_item {
  font-size: 2.1rem;
  padding: 0.8rem 1.3rem;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  align-self: center; }
  @media only screen and (max-width: 25rem) {
    .nav_item {
      font-size: 1.5rem;
      padding: 0.6rem; } }
  @media only screen and (max-width: 33.75rem) {
    .nav_item {
      font-size: 1.4rem;
      padding: 0.5rem; } }

.brand {
  font-size: 2.7rem;
  font-family: "Cinzel", sans-serif;
  font-weight: 500;
  margin-right: auto;
  transition: all 0.2s; }
  @media only screen and (max-width: 25rem) {
    .brand {
      padding: 1rem;
      font-size: 2rem; } }

.btn-red {
  border-radius: 2px;
  background-color: orangered;
  transition: all 0.3s; }
  .btn-red:hover {
    background-color: #fff;
    color: orangered; }

.motto {
  margin: auto 0; }

.input {
  padding: 4rem;
  position: relative; }
  @media only screen and (max-width: 25rem) {
    .input {
      padding: 4rem; } }

.search {
  width: 40rem;
  padding: 1.4rem;
  outline: none;
  border: none;
  font-family: inherit;
  color: #565656;
  box-shadow: 6px 6px 1px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 33.75rem) {
    .search {
      width: 30rem; } }
  @media only screen and (max-width: 21.87rem) {
    .search {
      width: 24rem; } }
  @media only screen and (max-width: 25rem) {
    .search {
      width: 26rem; } }

.icon-location {
  fill: orangered;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4.7rem;
  left: 40rem;
  cursor: pointer; }
  @media only screen and (max-width: 33.75rem) {
    .icon-location {
      left: 30rem; } }
  @media only screen and (max-width: 25rem) {
    .icon-location {
      left: 26rem; } }
  @media only screen and (max-width: 21.87rem) {
    .icon-location {
      left: 24rem; } }

.services {
  background-color: #fff8ee;
  position: relative;
  z-index: -10;
  overflow: hidden; }
  .services__text {
    margin-top: 7rem; }
    @media only screen and (max-width: 68.75rem) {
      .services__text {
        margin-top: 4rem; } }
  .services__cards {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 5rem; }
    @media only screen and (max-width: 68.75rem) {
      .services__cards {
        margin: 3rem auto;
        grid-column-gap: 3rem; } }
    @media only screen and (max-width: 68.75rem) {
      .services__cards {
        width: 80%; } }
    @media only screen and (max-width: 50rem) {
      .services__cards {
        margin: 5rem auto; } }
    @media only screen and (max-width: 37.5rem) {
      .services__cards {
        width: 50%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (max-width: 25rem) {
    .services {
      width: 100vw; } }

.services::before {
  content: "";
  width: 60rem;
  height: 60rem;
  background-color: #cf7bde;
  position: absolute;
  top: -18rem;
  left: -17rem;
  border-radius: 50%;
  z-index: -10; }
  @media only screen and (max-width: 50rem) {
    .services::before {
      top: -26rem;
      left: -19rem; } }
  @media only screen and (max-width: 25rem) {
    .services::before {
      top: -18rem;
      left: -17rem; } }

.services::after {
  content: "";
  width: 50rem;
  height: 50rem;
  background-image: linear-gradient(to bottom right, #00f218, rgba(154, 239, 163, 0.74));
  position: absolute;
  right: -15rem;
  bottom: -18rem;
  border-radius: 50%;
  z-index: -10; }
  @media only screen and (max-width: 50rem) {
    .services::after {
      right: -12rem;
      bottom: -15rem; } }
  @media only screen and (max-width: 25rem) {
    .services::after {
      right: -17rem;
      bottom: -21rem; } }

.card {
  font-family: inherit;
  margin: 0 1rem;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  box-shadow: 10px 10px 23px -2px rgba(0, 0, 0, 0.31);
  cursor: pointer; }
  .card-para {
    color: #575757;
    font-size: 1.3rem;
    font-weight: 400; }
  @media only screen and (max-width: 68.75rem) {
    .card {
      margin: 0;
      padding: 1.5rem; } }
  @media only screen and (max-width: 50rem) {
    .card {
      padding: 1rem; } }
  @media only screen and (max-width: 25rem) {
    .card {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      text-align: center; } }
  @media only screen and (max-width: 33.75rem) {
    .card {
      text-align: center;
      align-items: center; } }

.icon {
  margin: 1rem;
  transform: translateY(1rem);
  width: 5rem;
  height: 5rem; }
  @media only screen and (max-width: 62.5rem) {
    .icon {
      margin: 0.5rem;
      align-items: center; } }
  @media only screen and (max-width: 25rem) {
    .icon {
      transform: translateY(0.5rem);
      justify-self: center;
      align-self: center; } }
  @media only screen and (max-width: 33.75rem) {
    .icon {
      transform: translateY(0);
      width: 5.2rem;
      height: 5.2rem; } }

.icon-leaf {
  fill: green;
  grid-row: 1 / span 2; }

.icon-truck {
  fill: orange;
  grid-row: 1 / span 2; }

.icon-cake {
  fill: #3bd8bc;
  grid-row: 1 / span 2; }

.icon-hand {
  fill: rgba(91, 56, 188, 0.7);
  grid-row: 1 / span 2; }

.chefs {
  width: 100%;
  background-color: #fff8ee; }
  .chefs__text {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .chefs__cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7rem; }
    @media only screen and (max-width: 68.75rem) {
      .chefs__cards {
        margin: 3rem;
        grid-column-gap: 5rem; } }
    @media only screen and (max-width: 50rem) {
      .chefs__cards {
        margin: 0.5rem;
        grid-column-gap: 3rem; } }
    @media only screen and (max-width: 37.5rem) {
      .chefs__cards {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr; } }
  @media only screen and (max-width: 25rem) {
    .chefs {
      width: 100vw; } }

.golden {
  border-bottom: 2px solid #fd8900; }

.heart {
  color: red; }

.chef {
  padding-top: 2rem;
  background-color: #eeeeee;
  border-radius: 3px;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  transition: all 0.3s; }
  .chef-img {
    margin: 0 auto;
    width: 50%;
    height: auto;
    background-position: center;
    border-radius: 50%; }
  .chef-name {
    color: #565656;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .chef-name {
        padding: 1rem; } }
  .chef-intro {
    color: #3e3e3e;
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .chef-intro {
        padding: 1rem; } }
  .chef:hover {
    transform: translateY(-2rem);
    box-shadow: 16px 16px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 16px 16px 3px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 16px 16px 3px 0px rgba(0, 0, 0, 0.16); }
  @media only screen and (max-width: 37.5rem) {
    .chef {
      width: 60%;
      justify-self: center;
      margin: 1.5rem 0; } }

.products {
  background-color: #fff8ee; }
  .products__text {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 68.75rem) {
      .products__text {
        margin: 0.5rem; } }
    @media only screen and (max-width: 25rem) {
      .products__text {
        margin: 1rem 0; } }
  .products__items {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem; }
    @media only screen and (max-width: 68.75rem) {
      .products__items {
        margin: 2rem auto; } }
    @media only screen and (max-width: 62.5rem) {
      .products__items {
        margin: 1rem auto; } }
    @media only screen and (max-width: 37.5rem) {
      .products__items {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr; } }
  .products__button {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  @media only screen and (max-width: 25rem) {
    .products {
      width: 100vw; } }

.plain {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #3e3e3e;
  transition: all 0.3s; }
  .plain:hover {
    font-weight: 500;
    color: #fd8900; }

.text-head {
  letter-spacing: 1px;
  font-size: 2.6rem; }

.text-list {
  display: flex;
  list-style-type: none; }

.list-items {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .list-items-active {
    color: royalblue; }
  .list-items:hover {
    color: #fd8900; }
  @media only screen and (max-width: 25rem) {
    .list-items {
      padding: 0 0.5rem;
      font-size: 1.5rem; } }

.prod {
  margin: 3rem 0;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 0.2s;
  cursor: pointer; }
  .prod-img {
    margin: 0 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%; }
    @media only screen and (max-width: 68.75rem) {
      .prod-img {
        margin: 0;
        width: 100%; } }
    @media only screen and (max-width: 62.5rem) {
      .prod-img {
        height: 60%;
        align-self: center; } }
    @media only screen and (max-width: 50rem) {
      .prod-img {
        height: 45%; } }
    @media only screen and (max-width: 37.5rem) {
      .prod-img {
        width: 75%;
        height: 75%;
        justify-self: center; } }
    @media only screen and (max-width: 33.75rem) {
      .prod-img {
        width: 90%;
        height: 56%;
        justify-self: center; } }
    @media only screen and (max-width: 30rem) {
      .prod-img {
        width: 90%;
        height: 44%; } }
    @media only screen and (max-width: 25rem) {
      .prod-img {
        width: 100%;
        height: 32%; } }
    @media only screen and (max-width: 21.87rem) {
      .prod-img {
        width: 113%;
        height: 32%; } }
  .prod-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: 0 2rem; }
    @media only screen and (max-width: 62.5rem) {
      .prod-details {
        margin: 0 2rem; } }
  .prod-name {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase; }
  .prod-desc {
    font-size: 1.4rem;
    font-weight: 300; }
    @media only screen and (max-width: 62.5rem) {
      .prod-desc {
        font-size: 1.5rem; } }
  .prod-price {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fd8900; }
    .prod-price:hover {
      font-weight: 600; }
    @media only screen and (max-width: 62.5rem) {
      .prod-price {
        font-size: 1.7rem; } }
  .prod:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.36); }
  @media only screen and (max-width: 68.75rem) {
    .prod {
      margin: 1.5rem 0; } }
  @media only screen and (max-width: 62.5rem) {
    .prod {
      margin: 1.5rem 0;
      padding: 0rem; } }
  @media only screen and (max-width: 68.75rem) {
    .prod {
      padding: 0.5rem;
      margin: 0; } }
  @media only screen and (max-width: 37.5rem) {
    .prod {
      margin: 1.5rem 1rem; } }
  @media only screen and (max-width: 25rem) {
    .prod {
      margin: 0.5rem;
      padding: 0.5rem; } }

.padding-b-large {
  padding-bottom: 4rem; }

.padding-b-medium {
  padding-bottom: 3rem; }

.padding-b-small {
  padding-bottom: 1.5rem; }

.padding-t-large {
  padding-top: 4rem; }

.padding-t-medium {
  padding-top: 3rem; }
  @media only screen and (max-width: 68.75rem) {
    .padding-t-medium {
      padding-top: 1.5rem; } }

.padding-t-small {
  padding-top: 1.5rem; }

.count {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../img/count-back.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .count__box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #eeeeee; }
    @media only screen and (max-width: 25rem) {
      .count__box {
        flex-wrap: wrap;
        align-items: center; } }
  @media only screen and (max-width: 37.5rem) {
    .count {
      padding: 1rem; } }
  @media only screen and (max-width: 25rem) {
    .count {
      width: 100vw; } }

.box {
  text-align: center;
  padding: 4rem 2rem; }
  @media only screen and (max-width: 37.5rem) {
    .box {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 25rem) {
    .box {
      padding: 1rem 0.5rem; } }

.numbers {
  letter-spacing: 1.2px;
  font-size: 3rem;
  font-weight: 500; }
  @media only screen and (max-width: 37.5rem) {
    .numbers {
      font-size: 2.5rem;
      font-weight: 500; } }
  @media only screen and (max-width: 33.75rem) {
    .numbers {
      font-size: 2rem; } }

.description {
  font-size: 1.8rem;
  font-weight: 400; }

.form {
  padding: 3rem;
  background-color: #fff8ee; }
  .form__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form__text h2 {
      font-size: 3rem; }
    .form__text h4 {
      font-size: 1.6rem;
      font-weight: 400;
      border-bottom: 1px solid #3e3e3e; }
  .form__actual {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8rem;
    grid-row-gap: 6rem; }
    @media only screen and (max-width: 37.5rem) {
      .form__actual {
        grid-column-gap: 5rem;
        grid-row-gap: 4rem;
        padding: 1rem; } }
    @media only screen and (max-width: 33.75rem) {
      .form__actual {
        width: 100%;
        grid-column-gap: 3rem; } }
    @media only screen and (max-width: 25rem) {
      .form__actual {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr; } }
  .form__btn-submit {
    display: flex;
    justify-content: center;
    align-items: center; }
  @media only screen and (max-width: 37.5rem) {
    .form {
      padding: 1.5rem; } }
  @media only screen and (max-width: 25rem) {
    .form {
      width: 100vw; } }

.large {
  grid-column: 1 / 3; }

.req-field {
  font-family: inherit;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.598);
  padding: 1rem; }
  @media only screen and (max-width: 25rem) {
    .req-field {
      grid-column: 1 / span 2; } }

input[type="number"] {
  -moz-appearance: textfield; }

.submit {
  font-size: 2rem;
  text-decoration: none;
  color: #3e3e3e;
  font-weight: 500;
  padding: 0.6rem 2.5rem;
  background-color: #fff8ee;
  border: 1px solid #fd8900;
  border-radius: 100px;
  transition: all 0.2s; }
  .submit:hover {
    background-color: #fd8900;
    color: #fff;
    box-shadow: 13px 17px 13px -1px rgba(0, 0, 0, 0.19); }

.gallery {
  padding: 1rem;
  background-color: #fff8ee; }
  .gallery__photo {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 6vw);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.6rem; }
    .gallery__photo--1 {
      grid-row: 1 / 5;
      grid-column: 1 / 5; }
    .gallery__photo--2 {
      grid-row: 1 / 3;
      grid-column: 5 / 9; }
    .gallery__photo--3 {
      grid-row: 1 / 3;
      grid-column: 9 / 12; }
    .gallery__photo--4 {
      grid-row: 1 / 6;
      grid-column: 12 / 16; }
    .gallery__photo--5 {
      grid-row: 5 / 9;
      grid-column: 1 / 5; }
    .gallery__photo--6 {
      grid-row: 7 / 9;
      grid-column: 5 / 8;
      background-position: center; }
    .gallery__photo--7 {
      grid-row: 7 / 9;
      grid-column: 8 / 12; }
    .gallery__photo--8 {
      grid-row: 6 / 9;
      grid-column: 12 / 16; }
    .gallery__photo--9 {
      grid-row: 3 / 7;
      grid-column: 5 / 12; }
    @media only screen and (max-width: 25rem) {
      .gallery__photo {
        padding: 1rem; } }
  @media only screen and (max-width: 50rem) {
    .gallery {
      padding: 0; } }
  @media only screen and (max-width: 37.5rem) {
    .gallery {
      padding: 0; } }

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.footer {
  background-color: #262738;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer-icon {
    width: 60px;
    height: 60px;
    padding: 1rem 1.5rem;
    fill: #fff8ee;
    cursor: pointer;
    transition: all 0.3s; }
    .footer-icon:hover {
      transform: scale(1.4); }
    @media only screen and (max-width: 25rem) {
      .footer-icon {
        width: 55px;
        height: 55px; } }

.media-yt:hover {
  fill: red; }

.media-inst:hover {
  fill: #b12957; }

.media-wh:hover {
  fill: green; }

.media-fb:hover {
  fill: royalblue; }

.name {
  font-family: "Cinzel", sans-serif;
  font-size: 5.2rem;
  color: #fff8ee;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.2s; }
  .name:hover {
    color: #fd8900; }
  .name-icon {
    width: 50px;
    height: 50px;
    transform: translateY(0.8rem);
    margin: 0 0.6rem;
    fill: #fff8ee;
    transition: all 0.3s; }
    @media only screen and (max-width: 37.5rem) {
      .name-icon {
        width: 40px;
        height: 40px;
        transform: translateY(0.5rem); } }
    @media only screen and (max-width: 25rem) {
      .name-icon {
        width: 30px;
        height: 30px; } }
  @media only screen and (max-width: 37.5rem) {
    .name {
      font-size: 4rem; } }
  @media only screen and (max-width: 25rem) {
    .name {
      font-size: 3rem; } }

.navigations {
  font-family: inherit;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  color: #fff8ee; }
  @media only screen and (max-width: 37.5rem) {
    .navigations {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 25rem) {
    .navigations {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; } }

.nav-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s; }
  .nav-item:hover {
    color: #fd8900; }
  @media only screen and (max-width: 37.5rem) {
    .nav-item {
      padding: 0 1rem; } }
  @media only screen and (max-width: 25rem) {
    .nav-item {
      padding: 1rem; } }
  @media only screen and (max-width: 30rem) {
    .nav-item {
      padding: 0.5rem; } }
