.products {
  background-color: $color-primary;

  &__text {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
      margin: 0.5rem;
    }

    @media only screen and(max-width: $bp-smallest) {
      margin: 1rem 0;
    }
  }

  &__items {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;

    @media only screen and(max-width: $bp-largest) {
      margin: 2rem auto;
    }

    @media only screen and(max-width: $bp-large) {
      margin: 1rem auto;
    }

    @media only screen and(max-width: $bp-small) {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 1fr;
    }
  }

  &__button {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media only screen and(max-width: $bp-smallest) {
    width: 100vw;
  }
}

.plain {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: $color-grey-light-1;
  transition: all 0.3s;

  &:hover {
    font-weight: 500;
    color: $color-yellow-light;
  }
}

.text {
  &-head {
    letter-spacing: 1px;
    font-size: 2.6rem;
  }

  &-list {
    display: flex;
    list-style-type: none;
  }
}

.list-items {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &-active {
    color: royalblue;
  }

  &:hover {
    color: $color-yellow-light;
  }

  @media only screen and(max-width: $bp-smallest) {
    padding: 0 0.5rem;
    font-size: 1.5rem;
  }
}

.prod {
  margin: 3rem 0;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 0.2s;
  cursor: pointer;

  &-img {
    margin: 0 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;

    @media only screen and(max-width: $bp-largest) {
      margin: 0;
      width: 100%;
    }

    @media only screen and(max-width: $bp-large) {
      height: 60%;
      align-self: center;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 45%;
    }

    @media only screen and(max-width: $bp-small) {
      width: 75%;
      height: 75%;
      justify-self: center;
    }

<<<<<<< HEAD
    @media only screen and(max-width: $bp-extra) {
      width: 90%;
      height: 56%;
      justify-self: center;
    }

=======
>>>>>>> 021464dc4fe47915bf044c15c89b77a2aec2f774
    @media only screen and(max-width: $bp-smallest) {
      width: 100%;
      height: 46%;
    }
  }

  &-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: 0 2rem;

    @media only screen and(max-width: $bp-large) {
      margin: 0 2rem;
    }
  }

  &-name {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &-desc {
    font-size: 1.4rem;
    font-weight: 300;

    @media only screen and(max-width: $bp-large) {
      font-size: 1.5rem;
    }
  }

  &-price {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-yellow-light;

    &:hover {
      font-weight: 600;
    }

    @media only screen and(max-width: $bp-large) {
      font-size: 1.7rem;
    }
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 33px 1px rgba(0, 0, 0, 0.34);
  }

  @media only screen and(max-width: $bp-largest) {
    margin: 1.5rem 0;
  }

  @media only screen and(max-width: $bp-large) {
    margin: 1.5rem 0;
    padding: 0rem;
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 0.5rem;
    margin: 0;
  }

  @media only screen and(max-width: $bp-small) {
    margin: 1.5rem 1rem;
  }

  @media only screen and(max-width: $bp-smallest) {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
