.heading-2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0 4rem;
  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  &--light {
    color: $color-white;
  }
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.2rem 4rem;

  &--light {
    color: $color-white;
  }
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
