.padding-b-large {
  padding-bottom: 4rem;
}
.padding-b-medium {
  padding-bottom: 3rem;
}
.padding-b-small {
  padding-bottom: 1.5rem;
}
.padding-t-large {
  padding-top: 4rem;
}
.padding-t-medium {
  padding-top: 3rem;

  @media only screen and(max-width: $bp-largest) {
    padding-top: 1.5rem;
  }
}
.padding-t-small {
  padding-top: 1.5rem;
}
